; DB_HOST=db
DB_HOST=localhost ;для локального запуска
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your-password
DB_NAME=your-db-name

ACCESS_TOKEN_EXPIRE_MINUTES=60
SECRET_KEY=YOUR-SECRET-KEY
ALGORITHM=your-alg

API_SECRET_KEY=your-api-key

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_TIME=60